@use './variables.module.scss';
.ant-collapse-content-box {
    padding: 0 !important;
}
.ant-collapse{
    margin-bottom: 10px;
}
.ant-card {
    background: var(--primary-bg-color);
    border-color: var(--primary-bg-color);
    color: var(--primary-text-color);
}